@import "../abstracts/variables";

.footer {
  color: $white;
  &__top {
    background: $dark-blue;
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 20px 30px;
    width: 100%;
    padding: 50px 0;
  }

  &__item {
    width: 100%;
    padding-right: 30px;

    &-top {
      font-size: 22px;
      font-family: "Gilroy-Bold", sans-serif;
      margin-bottom: 20px;
    }

    &-text {
      font-size: 14px;
      font-family: "Gilroy-Medium", sans-serif;
      line-height: 1.5;
    }

    &-link {
      color: $white;
      font-family: "Gilroy-Medium", sans-serif;
      display: block;
      margin-top: 15px;

      &:hover {
        color: $white;
      }
    }

  }

  &__socials {
    display: flex;
    align-items: center;
    width: 100%;
    &-item {
      margin-bottom: 15px;
      margin-right: 20px;
      cursor: pointer;

      &:hover {

       .fa {
         color: $blue;
       }
      }

      .fa {
        color: $white;
        font-size: 24px;
      }
    }
  }

  &__bottom {
    width: 100%;
    background: #0a0a1feb;
    color: $white;
    text-align: right;
    .footer__wrap {
      padding: 15px 0;
      display: block;
    }
  }

  .copyright {
    display: inline-flex;
  }
}
