@import "../abstracts/variables";

.header {
  position: relative;
  z-index: 2;
  background: $white;
  box-shadow: 0 6px 20px rgba(165, 166, 180, 0.13);
  min-height: 56px;
  display: inline-flex;
  align-items: center;
  width: 100%;

  &__main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 200px;
    margin-right: 50px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__menu {

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 70px;

    &-item {
      padding: 0 10px;
    }

    &-link {
      position: relative;
      display: inline-flex;
      padding: 3px 15px 3px 0;
      font-size: 14px;
      font-family: "Gilroy-Bold", sans-serif;
      overflow: hidden;
      transition: .3s;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(100% - 2px);
        width: 0;
        height: 2px;
        background: $dark-blue;
        transition: .3s;
      }

      &:hover {

        &::before {
          width: 40%;
        }
      }
    }

  }

  &__contacts {

    margin-right: 45px;

    &-link {
      color: $dark-blue;
      font-family: "Gilroy-Bold", sans-serif;
    }
  }


}




