@import "../abstracts/variables";

@media (max-width:1450px) {
  .my-container {
    max-width: 1230px;
  }
}

@media (max-width:1250px) {

  .hamburger-menu {
    display: block;
  }

  .my-container {
    max-width: 991px;
  }

  .mobile__menu {
    display: block;
  }

  .menu-overlay {
    display: block;
  }
}

@media (max-width:991px) {

  .my-container {
    max-width: 768px;
  }

  .hamburger-menu {
    right: 30px;
  }

}

@media (max-width:768px) {

  .my-container {
    padding: 0 30px;
  }

  .mobile__menu {
    max-width: 300px;
  }

}

@media (max-width:500px) {

  .my-container {
    padding: 0 20px;
  }

}

@media (max-width:380px) {

  .my-container {
    padding: 0 15px;
  }

  .mobile__menu {
    max-width: 70%;
  }

  .hamburger-menu {
    right: 15px;
  }

}

