<footer class="footer">
    <div class="my-container">
        <div class="footer__wrapper">
            <div class="footer__main">

                <div class="footer__main-left">
                    <div class="footer__main-column">
                        <h4 class="footer__main-title">
                            ПАССАЖИРАМ
                        </h4>

                        <ul class="footer__menu">
                           <li class="footer__menu-item">
                               <a href="transport-cards.html" class="footer__menu-link">Транспортные карты</a>
                           </li>

                            <li class="footer__menu-item">
                                <a href="preferential-cards.html" class="footer__menu-link">Льготные транспортные карты</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">Пополнение</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">Методы оплаты</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="tariffs.html" class="footer__menu-link">Тарифы</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="instruction.html" class="footer__menu-link">Инструкции</a>
                            </li>


                            <li class="footer__menu-item">
                                <a href="faq.html" class="footer__menu-link">FAQ</a>
                            </li>

                        </ul>
                    </div>
                    <div class="footer__main-column">
                        <h4 class="footer__main-title">
                            ПЕРЕВОЗЧИКАМ
                        </h4>

                        <ul class="footer__menu">
                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">Условия сотрудничества</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">Валидаторы</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="#!" class="footer__menu-link">Партнерам</a>
                            </li>
                        </ul>


                    </div>
                    <div class="footer__main-column">
                        <h4 class="footer__main-title">
                            О НАС
                        </h4>

                        <ul class="footer__menu">
                            <li class="footer__menu-item">
                                <a href="about.html" class="footer__menu-link">О компании</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="guidance.html" class="footer__menu-link">Руководство</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="news.html" class="footer__menu-link">Новости</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="vacancies.html" class="footer__menu-link">Вакансии</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="branches.html" class="footer__menu-link">Филиалы</a>
                            </li>

                            <li class="footer__menu-item">
                                <a href="documents.html" class="footer__menu-link">Документы</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__main-right">
                    <div class="mobile-app">
                        <a href="#!" target="_blank" class="mobile-app-item">
                            <img src="img/svg/appstore.svg" alt="">
                        </a>
                        <a href="#!" target="_blank" class="mobile-app-item">
                            <img src="img/svg/googleplay.svg" alt="">
                        </a>
                    </div>
                </div>

            </div>
            <div class="footer__bottom">

                <div class="footer__bottom-column">
                    <a href="index.html" class="footer__logo">
                        <img src="./img/svg/logo-white.svg" alt="">
                    </a>

                    <div class="copyright">
                        © <span>2021</span> Uzcard. Все права защищены.
                    </div>

                </div>

                <div class="footer__bottom-column">
                    <ul class="footer__bottom-info">
                        <li class="footer__bottom-item">
                            <a href="#!" class="footer__bottom-link">
                                Правила пользования
                            </a>
                        </li>

                        <li class="footer__bottom-item">
                            <a href="public-offer.html" class="footer__bottom-link">
                                Публичная оферта
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="footer__bottom-column">
                    <div class="footer__socials">
                        <a href="#!" target="_blank" class="footer__socials-link">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>
                        </a>

                        <a href="#!" target="_blank" class="footer__socials-link">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>

                        <a href="#!" target="_blank" class="footer__socials-link">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </div>
</footer>
