<footer class="footer">
    <div class="footer__top">
        <div class="my-container">
            <div class="footer__wrap">

                <div class="footer__item"
                     data-aos="fade-up"
                     data-aos-duration="1000"
                >
                    <h3 class="footer__item-top">
                        О нас
                    </h3>

                    <div class="footer__item-content">
                        <p class="footer__item-text">
                            Реальность нашей команды – это огромное количество успешно выполненных заказов, широчайшая база постоянных клиентов, сотрудничество с ведущими компаниями и безупречное качество услуг.
                        </p>
                    </div>
                </div>

                <div class="footer__item"
                     data-aos="fade-up"
                     data-aos-duration="1000"
                     data-aos-delay="300"
                >
                    <h3 class="footer__item-top">
                        Контакты
                    </h3>

                    <div class="footer__item-content">
                        <p class="footer__item-text">
                            8А, улица Ески Саракулк,
                            Мирабадский район,
                            г. Ташкент,
                            Узбекистан
                        </p>

                        <a href="tel:+(998 71) 291-20-33" class="footer__item-link">+(998 71) 291-20-33</a>
                        <a href="mailto:info@avelsar.uz" class="footer__item-link">info@avelsar.uz</a>
                    </div>
                </div>

                <div class="footer__item"
                     data-aos="fade-up"
                     data-aos-duration="1000"
                     data-aos-delay="600"
                >
                    <h3 class="footer__item-top">
                        Avelsar в социальных сетях и мессенджерах онлайн:
                    </h3>

                    <div class="footer__item-content">

                        <div class="footer__socials">
                            <a class="footer__socials-item">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>
                            <a class="footer__socials-item">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>
                            <a class="footer__socials-item">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </a>
                        </div>
                        <p class="footer__item-text"></p>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="my-container">
            <div class="footer__wrap">
                <div class="copyright"

                >
                    <p> © 2021 Все права защищены. Avelsar
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="preloader">
        <div class="preloader__wrap">
            <div class="logo">
                <img src="./img/svg/logo.svg" alt="">
            </div>
        </div>
    </div>

</footer>
