<header class="header">
    <div class="my-container">
        <div class="header__main">
            <div class="header__left">
                <a href="index.html" class="header__logo">
                    <img src="./img/svg/logo.svg" alt="">
                </a>
                <div class="header__menu">
                    <ul class="header__menu-wrap">
                        <li class="header__menu-item active Dropdown has-dropdown">
                            <a class="header__menu-link">
                                Пассажирам
                            </a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="transport-cards.html">Транспортные карты</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="preferential-cards.html">Льготные транспортные
                                        карты</a>
                                </li>
                                <li class="dropdown__item has-dropdown">
                                    <a class="dropdown__link" href="#">Пополнение</a>
                                    <ul class="dropdown__menu">
                                        <li class="dropdown__item">
                                            <a href="mobile-apps.html" class="dropdown__link">В мобильном приложении</a>
                                        </li>

                                        <li class="dropdown__item">
                                            <a href="payment-apps.html" class="dropdown__link">Платежными
                                                приложениями</a>
                                        </li>

                                        <li class="dropdown__item">
                                            <a href="terminal-network.html" class="dropdown__link">В сети терминалов</a>
                                        </li>

                                    </ul>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="tariffs.html">Тарифы</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="instruction.html">Инструкции</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="faq.html">FAQ</a>
                                </li>
                            </ul>
                        </li>

                        <li class="header__menu-item Dropdown has-dropdown">
                            <a class="header__menu-link">
                                Перевозчикам
                            </a>

                            <ul class="dropdown__menu">
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="public-offer.html">Условия сотрудничества</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="validators.html">Валидаторы</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="#">Партнерам</a>
                                </li>
                            </ul>
                        </li>

                        <li class="header__menu-item Dropdown has-dropdown">
                            <a class="header__menu-link">
                                О нас
                            </a>
                            <ul class="dropdown__menu">
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="about.html">О нас</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="guidance.html">Руководство</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="vacancies.html">Вакансии</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="branches.html">Филиалы</a>
                                </li>
                                <li class="dropdown__item">
                                    <a class="dropdown__link" href="documents.html">Документы</a>
                                </li>
                            </ul>
                        </li>

                        <li class="header__menu-item">
                            <a href="news.html" class="header__menu-link">Новости</a>
                        </li>

                        <li class="header__menu-item">
                            <a href="feedback.html" class="header__menu-link">Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header__right">
                <div class="header__contacts">
                    <a href="#!" class="header__contacts-link">+998 78 140 08 08</a>
                </div>

                <div class="header__language Dropdown">
                    <a href="#">
                        Ru
                    </a>

                    <ul class="dropdown__menu">
                        <li class="dropdown__item">
                            <a class="dropdown__link" href="#">Uz</a>
                        </li>
                        <li class="dropdown__item">
                            <a class="dropdown__link" href="#">En</a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown header__user">
                    <a href="#!" class="header__user-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <div class="header__user-photo">
                            <img src="img/user.jpg" alt="">
                        </div>
                        Зухра Умарова
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-routes.html">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span>Маршрут</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-tariffs.html">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                                <span>Тарифы</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-balance.html">
                                <i class="fa fa-credit-card" aria-hidden="true"></i>
                                <span>Баланс</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-history.html">
                                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                <span>История</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-instruction.html">
                                <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                                <span>Иструкция</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link" href="cabinet-settings.html">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span>Настройки</span>
                            </a>
                        </li>

                        <li class="dropdown__item">
                            <a class="dropdown__link danger-color" href="#!">
                                <i class="fa fa-sign-out " aria-hidden="true"></i>
                                <span class="">Выйти</span>
                            </a>
                        </li>
                    </ul>
                </div>


                <!--                <button-->
                <!--                        type="button"-->
                <!--                        data-toggle="modal"-->
                <!--                        data-target="#cabinetModal"-->
                <!--                        class="header-btn header__right-btn">-->
                <!--                    Личный кабинет-->
                <!--                </button>-->


            </div>
        </div>
    </div>
</header>


<div class="modal fade modal__main" id="cabinetModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal__content modal__auth-content">
            <div class="modal__header tac text-center">
                <h5 class="modal__title ">Войти</h5>
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">

                <div class="form-group">
                    <label for="phone-field">Необходимо ввести номер телефона</label>
                    <input type="text" class="form-control phone-musk" id="phone-field" placeholder="+998">
                </div>

                <div class="form-group">
                    <label for="password-field">Пароль</label>
                    <div class="input__wrap">
                        <input id="password-field" type="password" class="form-control" name="password" value="">
                        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>

                <div class="custom-control custom-checkbox mt-3">
                    <input type="checkbox" class="custom-control-input" id="trustThisDevice">
                    <label class="custom-control-label" for="trustThisDevice">Доверять этому устройству</label>
                </div>

                <div class="modal__btn-holder">
                    <button class="main-btn w-100 text-center">Войти</button>
                    <button class="secondary-btn w-100 text-center registration__btn"
                            data-dismiss="modal" aria-label="Close"
                            type="button"
                            data-toggle="modal"
                            data-target="#registrationModal"
                    >Зарегистрироваться
                    </button>
                </div>
            </div>
            <div class="modal__footer text-center mt-3">
                <h6>Забыли пароль? <a href="#!"
                                      data-dismiss="modal" aria-label="Close"
                                      data-target="#recoveryModal"
                                      data-toggle="modal"
                                      class="main-color pl-1"> Напомнить</a></h6>
            </div>
        </div>
    </form>
</div>

<div class="modal fade modal__main" id="registrationModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal__content modal__auth-content">
            <div class="modal__header tac text-center">
                <h5 class="modal__title ">Регистрация</h5>
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">

                <div class="form-group">
                    <label for="reg-phone">Телефон</label>
                    <input type="text" class="form-control phone-musk" id="reg-phone" placeholder="+998">
                </div>

                <div class="form-group">
                    <label for="name-filed">Имя</label>
                    <input type="text" class="form-control phone-musk" id="name-filed">
                </div>

                <div class="form-group">
                    <label for="confirm-password">Пароль</label>
                    <div class="input__wrap">
                        <input id="confirm-password" type="password" class="form-control" name="confirm-password"
                               value="">
                        <span toggle="#confirm-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="reg-password">Пароль</label>
                    <div class="input__wrap">
                        <input id="reg-password" type="password" class="form-control" name="reg-password" value="">
                        <span toggle="#reg-password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                    </div>
                </div>

                <div class="modal__btn-holder">
                    <button class="main-btn w-100 text-center"
                            data-dismiss="modal" aria-label="Close"
                            type="button"
                            data-toggle="modal"
                            data-target="#confirmModal"
                    >Войти
                    </button>
                </div>
            </div>
            <!--            <div class="modal__footer text-center mt-3">-->
            <!--                <h6>Забыли пароль?  <a href="#!" class="main-color pl-1"> Напомнить</a></h6>-->
            <!--            </div>-->
        </div>
    </form>
</div>

<div class="modal fade modal__main" id="confirmModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal__content modal__auth-content">
            <div class="modal__header tac text-center">
                <h5 class="modal__title ">Регистрация</h5>
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">

                <div class="form-group">
                    <label for="confirm-code">Код подтверждения</label>
                    <input type="text" class="form-control" id="confirm-code" placeholder="">
                </div>

                <div class="form-group">
                    <h6 style="font-size: 13px;">Введите код: осталось 290 секунд, <a href="#!" class="main-color pl-1">не
                        пришел код?</a></h6>
                </div>


                <div class="modal__btn-holder">
                    <button class="main-btn w-100 text-center">Подтвердить код</button>
                </div>
            </div>
            <div class="modal__footer mt-3">
                <h6>Регистрируясь, вы соглашаетесь с <a href="#!" class="main-color pl-1">Правилами</a></h6>
            </div>
        </div>
    </form>
</div>

<div class="modal fade modal__main" id="recoveryModal" tabindex="-1" role="dialog" aria-hidden="true">
    <form action="" class="modal-dialog modal-dialog-centered">
        <div class="modal-content modal__content modal__auth-content">
            <div class="modal__header tac text-center">
                <h5 class="modal__title ">Восстановление</h5>
                <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal__body">

                <div class="form-group">
                    <label for="recovery-field" style="font-size: 13px;">Введите номер, на который
                        регистрировались</label>
                    <input type="text" class="form-control" id="recovery-field" placeholder="">
                </div>


                <div class="modal__btn-holder">
                    <button class="main-btn w-100 text-center">Выслать код</button>
                </div>
            </div>
            <div class="modal__footer">
            </div>
        </div>
    </form>
</div>

<div class="preloader">
    <div class="preloader__wrap">
        <div class="logo">
            <img src="./img/svg/logo.svg" alt="">
        </div>
    </div>
</div>

