<header class="header">
    <div class="my-container">
        <div class="header__main">
            <div class="header__left">
                <a href="index.html" class="header__logo">
                    <img src="./img/svg/logo.svg" alt="">
                </a>
            </div>
            <div class="header__right">
                <ul class="header__menu">
                    <li class="header__menu-item">
                        <a href="#!" class="header__menu-link">Главная</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!" class="header__menu-link">О компании</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!" class="header__menu-link">Услуги</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!" class="header__menu-link">Контакты</a>
                    </li>

                    <li class="header__menu-item">
                        <a href="#!" class="header__menu-link">FAQ</a>
                    </li>

                </ul>

                <div class="header__contacts">
                    <a href="#!" class="header__contacts-link">+998 78 140 08 08</a>
                </div>
            </div>
        </div>
    </div>
</header>
