<div class="mobile-menu">
    <div class="hamburger-menu js-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>

    <div class="mobile__menu">
        <div class="mobile__menu-inner">
            <div class="mobile__menu-wrap">

                <div class="mobile__phone">
                    <div class="header__contacts">
                        <a href="#!" class="header__contacts-link">+998 78 140 08 08</a>
                    </div>
                </div>

                <ul class="accordion" id="accordion">
                    <li class="accordion__list">
                        <div class="link">
                            <a href="index.html" class="link__title">Главная</a>
                        </div>
                    </li>
                    <li class="accordion__list">
                        <div class="link">
                            <a href="about.html" class="link__title">О компании</a>
                        </div>
                    </li>
                    <li class="accordion__list">
                        <div class="link">
                            <a href="services.html" class="link__title">Услуги</a>
                        </div>
                    </li>
                    <li class="accordion__list">
                        <div class="link">
                            <a href="contacts.html" class="link__title">Контакты</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="menu-overlay js-toggle"></div>
</div>


