<div class="sidebar news__sidebar">
    <h3 class="sidebar__title news__sidebar-title">
        Облако тегов
    </h3>
    <ul class="sidebar__wrapper">
        <li class="sidebar__item">
            <a href="about.html" class="sidebar__link">В январе станут доступными льготные транспортные карты «ATTO»
                <span class="sidebar__item-date">07 января 2021</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="" class="sidebar__link">Lorem ipsum dolor sit amet, consectetur adipisicing.
                <span class="sidebar__item-date">14 января 2021</span>
            </a>
        </li>

        <li class="sidebar__item">
            <a href="" class="sidebar__link">Волшебные автобусы спешат вас поздравить
                <span class="sidebar__item-date">14 января 2021</span>
            </a>
        </li>
    </ul>
</div>
